exportPattern("^[[:alpha:]]+")

import("nortest")
import("seqinr")
import("plotrix")
import("magicaxis")
import("iterators")
import("doParallel")
import("foreach")
import("matrixStats")
import("RANN")
import("data.table")
import(FITSio)
